save-exact=true
init-save-exact=true
init-author-name=victor-enogwe
init-author-email=victor.enogwe@gmail.com
init-author-url=https://victorenogwe.me
scripts-prepend-node-path=true
package-lock=false
scripts-prepend-node-path=true
sign-git-tag=true
